@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: #2F417F;
    overflow: hidden;
}

.landing-img{
    position: relative;
    width: 40vw;
    height: 100vh;
}

.landing-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container{
    position: relative;
    width: 60vw;
    height: 100vh;
    background: #fff;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 420px;
    width: 100%;
    background: transparent;
    color: #304180;
    border-radius: 30px;
    padding: 30px 40px;;
}

.wrapper h1{
    font-size: 24px;
    text-align: center;
    color: #304180
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(48, 65, 128, .5    );
    border-radius: 40px;
    font-size: 16px;
    color: #304180;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #304180;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #304180;
    margin-right: 3px;
}

.remember-forgot a{
    color: #304180;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    display: block;
    margin: auto;
    width: 70%;
    height: 45px;
    background: #304180;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.btn:hover{
    background: #18275b;
}

.wrapper .btn2{
    display: block;
    margin: auto;
    width: 40%;
    height: 20px;
    background: #4055a3;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #304180;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}
